html{
  overflow-x: hidden;
}
.modal-open{
padding-right: 0px !important;
}
body {
  overflow-x: hidden; 
  font-family: "Times New Roman", Times, serif;
  margin: 0 0;
}
body li
{
  list-style-type: none;
}
.header_img
{
    height:15px;
}
.header_location_dropdown
{
    margin-top: 0px;
    font-size:10px;
    height:37px;
    width:100% !important;
}
.header_signin
{
    padding-top: 15px;
    font-size: 15px;
    width:50%;
    padding-left:45px !important;
    color:white;
}
.header_signup
{
    padding-top: 15px;
    font-size: 15px;   
    color:white;
}
.header_signin_a {
    color:white;
    text-decoration:none;
}
.header_signin_a:hover {
    color:white;
    text-decoration:none;
}
.header_signup_a {
    color:white;
    text-decoration:none;
}
.header_signup_a:hover {
    color:white;
    text-decoration:none;
}
.header_myaccount{
    padding-top: 15px;
    font-size: 15px;
    width:50%;
    padding-left:45px !important;
    color:white;
}
.header_myaccount_a {
    color:white;
    text-decoration:none;
}
.header_myaccount_a:hover {
    color:white;
    text-decoration:none;
}
.header_logout
{
    padding-top: 15px;
    font-size: 15px;
    color:white;
}
.header_logout_a
{
    color:white;
    text-decoration: none;
}
.header_logout_a:hover
{
    color:white;
    text-decoration: none;
}
.header_search_button{
    height: 34px;
    margin-top: 1px;
    font-size: 18px !important;
    padding-top: 5px !important;"
}
.header_row1{
    background-color: #3396d1;
}
.layout_header{
    font-family: 'Montserrat', sans-serif;";
}
.homepage-cover{
    width: 100%;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.5);
}
.navbar{
    border-radius: 0px;
    width: 100%;
    padding-right: 20px;
}
@media (min-width:768px) {
    .homepage-cover {
        padding: 7em 0 8em;
    }
}
@media (min-width:992px) {
    .homepage-cover {
        padding: 10em 0 11em;
    }
}
@media (min-width:992px) {
body,html {
   overflow-x: hidden; 
   margin-right: 0px;
}

@media (min-width:768px) {
body,html {
   overflow-x: hidden; 
}
}
@media (min-width:320px) {
body,html {
    overflow-x: hidden; 
}
}

@media (min-width:768px) {
    #page{
        padding: 9em 0 2em;
    }
}
@media (min-width:992px) {
    #page {
        padding: 23em 0 3em;
    }
}
#page
{
  color: white;
  font-weight: bold;
}

}.home-widget-description, .home-widget-title {
    margin: 0;
    padding: 0;
    text-align: center;
}
.home-widget-title {
    font-size: 20px;
}
.homepage-cover select, .homepage-cover input
{
    width: 97%;
}
.homepage-cover button
{
    width:65%;
}
.home-cover-title
{
    margin-bottom: 40px;
}
.homepage-cover h1{
    font-size: 35px;
    color:white;
    font-weight: bold;
}
.homepage-cover h2{
    font-size: 25px;
    color:white;
    font-weight: bold;
}

.category-list-items
{
    height: 250px;
    border-radius: 4px;
    overflow: hidden;
    float: left;
    margin-top: 0px;
    padding: 10px;
}

.overlay-slider {
  width: 100% !important;
  height: 100% !important;
   margin-top: -20px;
  top:0;
  left:0;
    background: url("/assets/images/home/institute.jpg") 0 -490px;
}

.home-category-type {
  position:relative;
  overflow:hidden;
  background:black;
  height: 170px;
  margin-bottom:30px;
    margin-top:7;
      border-radius: 9px;
    border:4px solid;
    border-color: lightgray;
}


.home-category-type img {
  width:100%;
  height: 170px;
}

figcaption {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 100;
  width: 100%;
  height: 100%;
  opacity: .85;
  text-align: center;
  background: lightgray;
    font-weight: bolder;

  padding-top: 25%;

}
.photo_caption
{
  position: absolute;
  top: 0;
  left: 0;
  z-index: 20;
  width: 100%;
  height: 100%;
  color: skyblue;
  z-index: 1000;
  text-align: center;
  margin-top: 25%;
  font-weight: bolder;
  color: white;
  font-size: 24px;
}

.home-category-type:hover figcaption  {
  display: block;
}


.categories_container
{
    text-align: center;
}

.categories_container a, .categories_container a:hover
{
  text-decoration: none;
  color: white;
  font-size: 24px;
}

.categories_container  h1
{
    font-size: 35px;
    color:#333;
    font-weight: bold;
}

.categories_container h2
{
    font-size: 25px;
    color:#333;
    font-weight: bold;
}

.batch_recent_listings h1
{
  font-size: 35px;
  color:#fff;
  font-weight: bold;
  text-align: center;
}

.batch_recent_listings h2
{
  font-size: 25px;
  color:#fff;
  font-weight: normal;
  text-align: center;
}

.batch_recent_listings
{
  color: white;
}

 body select
 {
    height: 34px;
    border-radius: 5px;
 }
 .batch_recent_listings
 {
    background: url(/assets/images/home/recent_listing.jpg) 0 0;
    width: 100%;
    margin-top: 50px;
    padding-top: 2px;
    padding-bottom: 50px;
 }

.active-rating .glyphicon
{
  color: orange;
  font-weight: bolder;
}

.star-rating .glyphicon
{
  color: gray;
  font-weight: bolder;
}

.recent_listings-item {
  position:relative;
  overflow:hidden;
  background:black;
  height: 200px;
  margin-bottom:30px;
    margin-top:7px;
      border-radius: 7px;
    border:2px solid;
    border-color: lightgray;
}

.recent_listings-item header
{
  margin-left: 10px;
   background-color: rgba(0, 0, 0, 0.7);
   font-weight: lighter;
   font-size: 15px;
}

.recent_listings-item img {
  z-index: 1;
  width:100%;
  height: 170px;
}
.recent_listings-info
{
  position: absolute;
  top: 0;
  left: 0;
  z-index: 20;
  width: 100%;
  height: 100%;
  color: skyblue;
  z-index: 1000;
  text-align: left;
  font-weight: normal;
  color: white;
  font-size: 14px;
}

.recent_listing_rating
{
  margin-top:5px;
  float: right;
  text-align: center;
}


span.stars, span.stars span {
    display: block;
    background: url(/assets/images/sample/star.png) 0 -16px repeat-x;
    width: 80px;
    height: 16px;
    margin-right: 5px;
}

span.stars span {
    background-position: 0 0; 
}

.recent_listings-info .contact_address_info
{
  bottom:0;
  position: absolute;
  width: 100%;
}

.recent_listings-info a
{
  color: white;
  font-size: 24px;
      text-align: center;
}

.recent_listings-info footer
{
  text-align: center;
}

.vendor_batch_list_item:hover figcaption  {
  display: block;
   z-index: 1000009;
}

#vendorNavBar
{
  margin-top: -70px;
        position: relative;
}



/* filter page style sheet*/


  #batchInfo 
    {   
      background: white;border:0px solid;margin-bottom: 15px;border-color: skyblue;-webkit-box-shadow: 0px 3px 0px -2px #0099FF;
        box-shadow: 0px 3px 0px -2px #0099FF;color: #333;font-family: "Times New Roman", Times, serif; font-size: 15px;font-weight: 100;
    }
    #filter_data 
    {
      box-shadow: 0px 0px 4px #3366CC;-moz-box-shadow: 0px 0px 4px #3366CC;-webkit-box-shadow: 0px 0px 4px #3366CC;
      margin-bottom: 20px; padding-top: 10px;color: #333; font-family: "Times New Roman", Times, serif;font-size: 15px;
    }

    #batch_name { font-size: 22px; font-weight: bold; color: #0033CC;  float: left;    }

    #inst_tagline { font-size: 14px;  font-weight: normal; color: #333; }

    .inst_name  {  font-size: 16px; font-weight: normal; color: #333; clear: both; float: left; }

    .filters  {  max-height: 106px; overflow: auto; color: #333;  line-height: 1em;   }

    #browse-filter   {  font-family: "Times New Roman", Times, serif; font-weight: lighter;   }

    #browse-filter label {font-weight: lighter;}

    #browse-filter li {line-height: 0em}

    .filter-option-2   {  margin-top: -30px;  font-weight: normal;   }

    .filter-option-1   {  margin-top: 20px; font-weight: normal;   }

    .sub           {  cursor: pointer; }

    #browse-filter h4   
    {   color:black;line-height: 0.3em;font-family: "Times New Roman", Times, serif;font-size: 20px; }

    #fiter-text { font-weight: lighter;  margin-top: -17px; margin-left: 16px;  }

    .resultsMessage { font-size:20px;  background: lightgray;  height: 40px;  padding:5px;  }

    #noResults   {  display: none;  }

    .location-icon  { width:12px;height: 17px;margin-top: -4px;margin-right: 5px; }

    #inst_contact 
    { 
      min-width:175px; height:30px; border: 1px solid;padding:3px;border-color: #0099FF;
      border-radius: 4px;float: left;text-align: center;margin-right:5px;margin-top: 2px;
    }

    #inst_contact:hover { background: #E8E8E8; cursor: pointer; }

    #inst_message:hover { background: #E8E8E8  ;  cursor: pointer;  }

    #inst_message  
    {
      margin-top: 2px;min-width:130px;height:30px;border: 1px solid;padding:3px;border-color: #0099FF;
      border-radius: 4px; float: left; text-align: center;
    }
    .inscore 
    {
      border-radius: 50%;border: 4px solid;border-color:#FF8000;vertical-align: middle;width: 45px;
      height: 45px;padding: 5px 5px 5px 5px;font-size: 19px;font-weight: bold;color: #333;
      text-align: center; float: left; margin-left: 14px; margin-bottom: 5px;
  }
  .rating_starts  { clear:both;color: #FF8000;margin-top:10px;  }

  #rating { margin-top: -6px; margin-left: 42px;  }

  #rating-tittle  { text-align: center; float:left; margin-top: 10px; }

  #inst_type  { margin-top: 10px; }

  #inst_price { margin-top: 10px; }

  #tag-icon { float:left; font-weight: bolder;font-size: 18px;text-align: right;}

  #tag-icon .glyphicon  { color: #0099FF; font-size: 22px;  margin-right: 9px;  }

  #hand-icon  { color: #0099FF; margin-right: 5px;  }

  #cell-icon  { color: #0099FF; font-size: 0.9em; }

  #msg-icon { color: #0099FF; font-size: 0.9em; }

  .day
  {
    padding: 1px;padding-top:0px;width:20px;height:23px;border: 1px solid;border-color: #0099FF;
    margin-left: 4px;float:left;text-align: center; opacity: .20;margin-top: 11px;
  }

  #contact  { display: none;  }

  .institute-profile-pic 
  {
    width:146px;height: 145px;border-radius: 50%;border: 5px solid;border-color:#0099FF;
    vertical-align: middle;margin-top: -9px;margin-bottom: 10px;
  }
  .institute-profile-pic img {  width:140px;  height: 140px;  }

  #inst_details { margin-top: 7px;margin-bottom: 10px;  }

  #batch-schedule { margin-top: 10px;text-align: center;  }

  .sendMessage a  { color: #333;  }

  @media screen and (min-width: 768px) {  #sendMessage .modal-dialog  { width:430px; }  }

  #sendMessage {  border-radius: 5px; font-family: "Times New Roman", Times, serif; font-size: 15px; }

  #sendMessage .modal-dialog { margin-top:7%; }

  #sendMessage .modal-header {font-size: 22px;color: #333333;font-weight: bolder;font-family: serif; }

  #rating-schedule {  float: right; }

  .inner-addon {  position: relative; }

  .inner-addon .glyphicon {  position: absolute; pointer-events: none;}

  .inner-addon .left-addon {padding: 8px;}

  .left-addon .glyphicon  { left:  0px;}

  .right-addon .glyphicon { right: 0px;}

  .inner-addon input  { padding-left:  30px;padding-right: 0px; }



  #offerMessage { float: right; margin-top: -60px; }

  #offerMessage .glyphicon { float: right; font-size: 100px;  }

  #close_model:hover { color: black }

  #filter-tittle-name { font-family: "Times New Roman", Times, serif; font-size: 20px; color: gray; }

  .breadcrumb { background: white; font-family: "Times New Roman", Times, serif; }



  /*vendor page style sheet */
    .home_vendor_page
  {
    width: 100%;
    background: url(/assets/images/sb.png);
    
    font-family: "Times New Roman", Times, serif;
        padding-top: 50px;
    padding-bottom: 40px;
    color: #333;
   
  }
  .vendor_institute_details
  {
     background-color: #ffffff;
     -moz-box-shadow: 1px 1px 1px 1px rgba(0,0,0,0.5);
     box-shadow: 1px 1px 1px 1px rgba(0,0,0,0.5);
        -webkit-box-shadow: 1px 1px 1px 1px rgba(0,0,0,0.5); 
        border-radius: 5px;
        padding: 10px 20px 20px 20px;
  }
  .vendor_venue_list
  {
     background-color: #ffffff;
     -moz-box-shadow: 1px 1px 1px 1px rgba(0,0,0,0.5);
     box-shadow: 1px 1px 1px 1px rgba(0,0,0,0.5);
        -webkit-box-shadow: 1px 1px 1px 1px rgba(0,0,0,0.5); 
        border-radius: 5px;
      margin-top: 40px;
  }
  .vendor_institute_details h1
  {
    text-align: left;
    font-size: 35px;
    color: #333;
  }
  .vendor_institute_details .glyphicon
  {
    color:#333;
    font-size: 20px;
    font-weight: bolder;
    margin-right: 10px;
    width: 20px;
    margin-top: 5px;
  }
  #institute_header
  {
    border-bottom:2px dashed;
    
  }
  #institute_details_box
  {
    padding-top: 25px;
  }
  .vendor_institute_batches
  {
    margin-top: 30px;
    background-color: white;
    box-shadow: 1px 1px 1px 1px rgba(0,0,0,0.5);
    -moz-box-shadow: 1px 1px 1px 1px rgba(0,0,0,0.5);
        -webkit-box-shadow: 1px 1px 1px 1px rgba(0,0,0,0.5); 
        border-radius: 5px;
  }
  .vendor_institute_batches .day
  {
    margin-top: 8px;
    height: 20px;
  }
  .vendor_batches_title
  {
    margin-top: 20px;
    text-align: center;
    font-size: 20px;
    font-weight: bolder;
    border-bottom-color: skyblue;
    border-bottom:2px dashed;
  }
    .edit_delete_buttons
    {
      clear: both;
      margin-top: 10px;
      float: left;
      margin-left: 12px;
      
    }
      .edit_delete_buttons button
    {
     height: 25px;
    border-radius: 2px;
    padding-top: 2px;
    width: 70px;
    margin-left: 5px;
    color: white;
    }
    .edit_delete_buttons a
    {
      color: white;
    }

    .venues_list
    {
      height: 270px;
      background-color: white;
      -webkit-box-shadow: 0 0 2px #333;
        box-shadow: 0 0 2px #333;
      margin: 10px 10px;
      padding: 7px;
      overflow: hidden;
      padding-bottom: 20px;

    }
     .venues_list_tittle
     {
        text-align: center;
        font-size: 22px;
        font-weight: 500;
        color: #333;
        padding-top: 5px;
     }
  .venues_list_container
  {
    padding: 0 20px 50px 20px;
  }
  .venue
  {
      bottom:20px;
  position: absolute;
  width: 100%;
  left: -2px;
  }
  .venue button
  {
    height: 25px;
    border-radius: 2px;
    padding-top: 2px;
    width: 100px;

  }
  .home_vendor_page a
  {
    color: white;
    text-decoration: none;
  }

  .venue_info
  {
    margin-top: 7px;
    font-size: 14px;
  }
  .tag
  {
    font-size: 16px;
    font-weight: 600;
    margin-right: 5px;
  }
  .footer-wrapper
  {
    width: 100%;
  }


  @media screen and (min-width: 768px) {  #venueCreate .modal-dialog  { width:430px; }  }
#venueCreate .modal-dialog { margin-top:3%; }
#venueCreate .modal-header {height: 50px;padding-top: 0px;}
#venueCreate .modal-footer {height: 55px;padding-top: 10px;}
#venueCreate .modal-body {padding-bottom: 0px;}
